header{
    height: 10vh;
    background-size: cover;
    background: cover;

}

.navbar {
    z-index: 1000;
    position: fixed;
    background-color: #8C0000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.navbar a {
    z-index: 850;
    color: white;
    text-decoration: none;
}

.navbar .logo {
    font-size: 2em;
    font-weight: bold;
}

.navbar .nav-links ul {
    display: flex;
    list-style: none;
}

.navbar .nav-links ul li {
    margin: 0 25px;
}

.navbar .nav-links ul li.active a {
    color: red;
    font-weight: 600;
}


.navbar .menu-poke {
    display: none;
    position: absolute;
    top: 50px;
    right: 30px;
    width: 30px;
}

@media screen and (max-width: 900px){
    .navbar {
        z-index: 900;
        position: fixed;
        padding: 35px;
    }

    .navbar .logo {
        color: white;
        margin-left: 25%;
        position: absolute;
        top: 30%;
        left: 50px;
    }

    .navbar .menu-poke {
        display: flex;
        top: 33%;
    }

     .nav-links {
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgb(0 0 0 / 63%);
        /* backdrop-filter: blur(8px); */
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 100%;
        transition: all 0.5s ease;
     }

     .nav-links.mobile-menu {
        margin-left: 0;
    }

     .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
     }

     .navbar .nav-links ul li {
        margin: 25px 0;
        font-size: 1.2rem;
     }
}

