header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    background-color: var(--darkColor);
}
header img {
    flex-basis: 0;
    width: 5em;
    margin: 1em;
}
/* l'animation pour le toggle navbar js - sur l'image */
.rotation-image-nav {
    transform: rotate(720deg);
    transition: 1s;
}
header h1 {
    text-align: center;
    margin: 0;
    flex-basis: 50%;
    font-size: 1.8rem;
}
header h1 a {
    text-decoration: none;
}
.navbar {
    background-color: aqua;
    width: 100vw;
    height: 80vh;
    text-align: center;
}
.navbar-display-none {
    display: none;
}
.container-navbar-ul {
    display: flex;
    justify-content: space-around;
    flex-flow: nowrap column;
    height: 100%;
    padding: 0;
    margin: 0;
}
ul li {
    list-style-type: none;
}