.navbar {
    background-color: #8C0000;
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    z-index: 10;
}
.navbar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.navbar .logo {
    font-size: 2em;
    font-weight: bold;
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li {
    margin: 0 25px;
}

.navbar .nav-links ul li.active a {
    color: red;
    font-weight: 600;
}


.navbar .menu-poke {
    display: none;
    z-index: 10;
    top: 50px;
} 

@media screen and (max-width: 900px){
    .navbar {
        position: fixed;
        color: var(--fontColorLight);
    }

    .navbar .logo {
        color: white;
        margin-left: 25%;
        position: absolute;
        top: 30%;
        left: 50px;
    }

    .navbar .menu-poke {
        display: block;
        width: auto;
        height: 2.5rem;
        margin: 0 0.5rem;
    }

     .nav-links {
        top: 51px;
        left: 0;
        position: absolute;
        background-color: rgb(0 0 0 / 63%);
        backdrop-filter: blur(8px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 100%;
        transition: all 0.5s ease-in-out;
     }

     .nav-links.mobile-menu {
        margin-left: 0;
        display: flex;
        flex-direction: column;
    }

     .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
     }

}