video {
    margin-top: 10%;
    width: 300px;
    height: 400px;
    margin-left: 25%;
}

.preloader{
    z-index: 2000;
    position: fixed;
    background-color: black;
    width: 100%;
    height: 100%;
}

.button {
    display: flex;
    position: absolute;
    color: white;
    bottom: 0%;
    left: 45%;
    transform: translateX(-50%);
    padding: 1.5rem 2.5rem;
    text-transform: uppercase;
    border-radius: 0 0 20px 20px;
    font-size: 1.5rem;
    box-shadow: 0 0 6px white;
    cursor: pointer;
    transition: 0.5s;
}

.button:hover {
letter-spacing: 0.25em;
background-color: var(--darkColor);
}

@media screen and (min-width: 900px){
    video {
       margin-top: 5px;
        width: 50%;
        height: auto;
        margin-left: 25%;
    }
    button {
        transform: translateX(-60%);
    }
}