.container-quizz{
    display:flex;
    flex-direction:row-reverse;
    justify-content:center;
}

.quizz-rules{
    width:40%;
}

.quizz-rules-container{
    padding:1rem;
    border-top:3px solid var(--darkColor);
    width:80%;
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px hsl(229, 6%, 66%);
}

.quizz-rules-container-text {
    display:flex;
    flex-direction:column;
    gap:1rem;
}

.quizz-rules-container-text p{
    margin:0;
    padding:0;
    line-height:1.5rem;

}

.quizz{
    margin:0;
    padding:0;
    width:50%;
}

.quizz-question{
    background:url("../assets/quizz/header1.webp") no-repeat;
    background-size: cover;
    aspect-ratio: 256/192;
    width:var(--width-quizz);
    margin:auto;
    position:relative;
}

.question{
    position:absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    color:black;
    width:100%;
    bottom:0;
    left:0;
    aspect-ratio: 256/48;
}

.question p, .quizz-clauses-card-text p, .quizz-footer-timer p{
    margin:0;
    padding:0;
    font-family: 'VT323', monospace;
    font-size: clamp(15px, 3vw, 20px);
}

.question p{
    padding:0 20px;
    line-height: normal;
}

.progress-bar{
    margin:auto;
    width:var(--width-quizz);
    height:10px;
    background-color: green;
}

.quizz-health{
    background:url("../assets/quizz/healthbar/6.webp") no-repeat;
    background-size:cover;
    aspect-ratio: 256/24;
    width:var(--width-quizz);
    margin:auto;
    position: relative;
}

.quizz-clauses{
    background-color: #fefafb;
    width:var(--width-quizz);
    margin:auto;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0.5em;
}

.quizz-start{
    background:url("../assets/quizz/start.webp") no-repeat;
    background-size:cover;
    aspect-ratio: 256/192;
    width:var(--width-quizz);
    margin:auto;
    position: relative;
}

.quizz-clauses-card{
    background:url("../assets/quizz/cards/grey_card.webp");
    background-size:cover;
    aspect-ratio: 128/52;
    position: relative;
}

.quizz-clauses-card-text{
    position:absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    color:black;
    width:100%;
    bottom:0;
    left:0;
    aspect-ratio: 128/52;
}

.quizz-footer{
    background:url("../assets/quizz/footer.webp") no-repeat;
    background-size:cover;
    aspect-ratio: 256/50;
    width:var(--width-quizz);
    margin:auto;
    position: relative;
}

.quizz-footer-timer{
    position:absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    color:black;
    width:30%;
    height:90%;
    bottom:0;
    left:0;
    aspect-ratio: 256/48;
}

.quizz-footer-mute{
    position:absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    color:black;
    width:30%;
    height:90%;
    bottom:0;
    right:0;
    aspect-ratio: 256/48;
}

.quizz-footer-mute i{
    color:white;
    font-size:clamp(15px, 3vw, 40px);
}

.quizz-footer-timer p{
    color:white;
}



@media screen and (max-width:900px){
    .container-quizz{
        justify-content: center;
        align-items:center;
        gap:2rem;
        flex-direction:column;
    }
    .quizz-rules{
        width:90%;
    }
    .quizz-rules-container{
        width:100%;
    }
    .quizz-question, .quizz-health, .progress-bar, .quizz-clauses, .quizz-start ,.quizz-footer{
        width:90%

    }
    .quizz{
        width:100%;
    }
    
}

@media screen and (min-width:1100px){
    .quizz{
        width:40%;
    }
}

@media screen and (min-width: 480px) and (max-width: 900px) {
    .quizz-rules{
        width:60%;
    }
    .quizz-question, .quizz-health, .progress-bar, .quizz-clauses, .quizz-start ,.quizz-footer{
        width:60%;
    }
}





