/* ------- Palette de couleur ------- */
:root {
    --lightColor: #EEEEEE;
    --darkColor: #8C0000;
    --greyColor: #797979;
    --darkTwoColor: #A80000;
    --fontColorLight: #FFF;
    --fontColorDark: #000;
}