/* ------- Palette de couleur ------- */
:root {
    --lightColor: #EEEEEE;
    --darkColor: #8C0000;
    --greyColor: #797979;
    --darkTwoColor: #A80000;
    --fontColorLight: #FFF;
    --fontColorDark: #000;
    --nightColor: rgba(55, 30, 145, 0.884);
    
    /* Var quizz */
    --width-quizz: 40%;
}

body.dark {
    --lighting-color:#140e19;
    --darkColor: #0e3a5e;
    --greyColor: #0978b4;
    --darkTwoColor: #08c0ff;
    --fontColorLight: #0ffff8;
    --fontColorDark: #FFF;
        
}



input[type="checkbox"]{
    -webkit-appearance: none;
    position: relative;
    width: 80px;
    height: 40px;
    border-radius: 50px;
    outline: none;
    background-color: brown;

}

input[type="checkbox"]::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    
    width: 40px;
    background-image: url('../assets/PngItem_4839853.png') ;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    
    transition: transform 0.15s linear;
}

input[type="checkbox"]:checked::before {
    transform: translate(100%);
    transition: transform 0.15s linear;
}

input[type="checkbox"]:checked{
    background-color: var(--nightColor);
}